ErrorDocument 403 /inc/
ErrorDocument 404 /inc/

# I will leave these here for you to enable
# ErrorDocument 401 https://i.chzbgr.com/maxW500/1935027968/hE19A8C6D/
# ErrorDocument 403 http://www.nathanpatel.org/drupal/sites/default/files/denied_cat.jpg
# ErrorDocument 404 http://media.boingboing.net/wp-content/uploads/2011/12/404.jpg
# ErrorDocument 404 http://404.cat/
# ErrorDocument 500 http://farm8.staticflickr.com/7001/6509400855_aaaf915871_z.jpg

# Compress file for faster network transfer
php_value output_handler ob_gzhandler
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/css application/javascript application/json
</IfModule>

# Cache Control + Define Content Type
<ifModule mod_headers.c>
	<FilesMatch ".json$">
		Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
		Header set Content-type "application/json; charset=UTF-8"
	</FilesMatch>
	<FilesMatch ".(png|jpg|tiff|txt)$">
		Header set Cache-Control "max-age=604800"
	</FilesMatch>
	<FilesMatch ".(css|js)$">
		Header set Cache-Control "max-age=86400, must-revalidate"
	</FilesMatch>
	<FilesMatch ".js$">
		Header set Content-type "application/javascript; charset=UTF-8"
	</FilesMatch>
	<FilesMatch ".css$">
		Header set Content-type "text/css; charset=UTF-8"
	</FilesMatch>
	<FilesMatch ".txt$">
		Header set Content-type "text/plain; charset=UTF-8"
	</FilesMatch>
	<FilesMatch "^favicon.ico$">
		Header set Content-type "image/png"
	</FilesMatch>
</ifModule>
