/* This style sheet does not fix all issues, it just puts a dent in them */
.imgareaselect-handle,.imgareaselect-outer{
	filter:alpha(opacity=50);
}
.imgareaselect-border1{
	background-position:left top;
}
.imgareaselect-border4 {
	background-position:left bottom;
}
#header span{
	padding-left:4px;
}
#blanket,.tool .tip{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QcLEiIwmZz/0gAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAANSURBVAjXY2BgYFgGAACrAKf/dVSlAAAAAElFTkSuQmCC");
	background-repeat:repeat;
}
.dualForm .largeButton span{
	font-size:33pt;
}
.colorPicker{
	font-size:0;
	line-height:9999px;
	text-indent:-9999px;
}
.colorpicker_field span:first-child, .colorpicker_hue {
	cursor:n-resize;
}
.colorpicker div{
	filter:inherit;
}
/* IE 6 & 7 Hacks */
h2 .del{
	*position:relative;
	*top:-21px;
	*left:-2px;
}
#blanket,.tool .tip,#header span{
	*background-color:black;
}
/* IE 6 Hacks */
#header{
	_border-bottom:none;
	_height:76px;
}
#header span{
	_display: block;
	_width: 138px;
	_position:absolute;
	_left:71px;
	_height: 75px;
	_overflow:hidden;
	_line-height:29.5px;
	_font-size:25px;
}
#header span span{
	_left:15px;
}
h2 .del{
	_float:right;
}
.tab div{  
	_display:none;
}
.icon{
	_height:0;
}
.control select{
	_width:150px;
}
.column .box .footer form p input{
	_cursor:pointer;
}
.column .box .footer form p span{
	_width:180px;
	_display:inline-block;
	_text-align:left;
}
