.imgareaselect-handle,.imgareaselect-outer{
	filter:alpha(opacity=50);
}
#blanket{
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QcLEiIwmZz/0gAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAANSURBVAjXY2BgYFgGAACrAKf/dVSlAAAAAElFTkSuQmCC");
	background-repeat:repeat;
}
p .icon{
	margin-right:3px;
}
